@import "tailwindcss";

@theme inline {
  --color-dark-900: #0a0a0a;
  --color-dark-800: #181818;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arabic: var(--font-arabic);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loader {
  0% {
    box-shadow:
      20px 0 currentColor,
      -20px 0 currentColor;
    background: currentColor;
  }
  33% {
    box-shadow:
      20px 0 currentColor,
      -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow:
      20px 0 #0002,
      -20px 0 currentColor;
    background: #0002;
  }
  100% {
    box-shadow:
      20px 0 #0002,
      -20px 0 currentColor;
    background: currentColor;
  }
}

.animate-loader {
  animation: loader 1s infinite linear alternate;
}

@custom-variant dark (&:where(.dark, .dark *));

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

.arabic-text {
  font-family: var(--font-arabic), serif;
}

body {
  font-family: var(--font-sans), Arial, sans-serif;
}
